.formContainer {
    background-image: url(../Home/Budynek.png);
    height: 100vh;
}

.title {
    font-size: 30px;
    letter-spacing: 5px;
    color: white;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}


.form {
    background: rgba(40, 40, 40, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsContainer {
    display: flex;
    align-items: flex-end;
}

.inputsTitle {
    color: white;
    
}

.response {
    height: 40px;
    margin-top: 50px;
    font-size: 34px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
    
}

input {
    font-size: 15px;
    width: 170px;
    padding: 13px 30px;
    border: none;
    border-radius: 15px;
    margin-right: 30px;
    outline: rgb(209, 191, 167);
}

.placeholder::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.btn {
    font-size: 15px;
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(209, 191, 167);
}

.submit {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(148, 77, 214);
    color: white;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(63, 36, 201);
}

.submit:focus {
    background-color: rgb(120, 112, 164);
}

.result {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.checkboxInput {
    width: 10px;
    margin-right: 10px;
}

.checkbox span {
    color: white;
    font-size: 10px;
}

