.formContainer {
    background-image: url(../Home/Budynek.png);
    height: 1000px;
}

.title {
    font-size: 30px;
    /* letter-spacing: 5px; */
    color: white;
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}


.form {
    background: rgba(40, 40, 40, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputsContainer {
    display: flex;
    flex-direction: column;
    width: 600px;
}

.inputsTitle {
    color: white;  
}

.dateContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.date {
    font-size: 15px;
    width: 270px;
    padding: 13px 30px;
    border: none;
    border-radius: 15px;
    outline: rgb(209, 191, 167);
}

.personsContainer {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.persons {
    font-size: 15px;
    width: 150px;
    padding: 13px 30px;
    border: none;
    border-radius: 15px;
    outline: rgb(209, 191, 167);
}

.persons::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.checkboxContainer {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.checkboxItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check {
    width: 20px;
    height: 20px;
}

.btnContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.btn {
    font-size: 15px;
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    background: white;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(209, 191, 167);
}

/* .response {
    height: 40px;
    margin-top: 50px;
    font-size: 34px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 70px; 
} */

.submit {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(148, 77, 214);
    color: white;
    font-size: 15px;
    padding: 13px 30px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.submit:hover {
    background-color: rgb(63, 36, 201);
}

.submit:focus {
    background-color: rgb(120, 112, 164);
}

.result {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
}

.checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.checkboxInput {
    width: 10px;
    margin-right: 10px;
}

.checkbox span {
    color: white;
    font-size: 10px;
}

