.galeria {
    height: 100%;
    grid-area: body;
}

.bgimg {
    /* background-image: url(../../img/hall15.jpeg); */
    background: rgba(40, 40, 40, 0.4);
    background-size: cover;
    height: 1200px;
}

.content {
    padding: 50px;
}

.title {
    margin-bottom: 50px;
    color: white;
    background: rgba(40, 40, 40, 0.8);
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
}

.descr {
    max-width: 1200px;
    padding: 20px;
    background: rgba(40, 40, 40, 0.8);
    color: white;
    border-radius: 10px;
}

.image {
    width: 1000px;
    height: 700px;
}


@media(max-width: 800px) {
    .bgimg {
        height: 700px;
    }

    .title {
        font-size: 20px;
    }

    .descr {
        font-size: 14px;
        max-width: 600px;
    }
}