.rooms {
    height: 100vh;
    grid-area: body;
}

.bgimg {
    background-image: url(../../img/room1.jpeg);
    background-size: cover;
    height: 100vh;
}

.content {
    padding: 50px;
}

.descr {
    font-size: 16px;
    max-width: 800px;
    padding: 20px;
    background: rgba(40, 40, 40, 0.9);
    color: white;
    border-radius: 10px;
}