.modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(71, 64, 64, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: all;
    opacity: 1;

    transition: 0.5s ease-in-out;
}

.notmodal {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}

.exit {
    color: white;
    font-size: 30px;
    border: none;
    background-color: transparent;
    margin-left: auto;
    margin-bottom: 20px;
}

.exit:hover {
    color: rgb(116, 116, 227);
}

.modalInput {
    margin: 10px 0 30px 0;
    width: 500px;
    margin-right: 0;
    outline: none;
    font-size: 15px;
    padding: 13px 30px;
    border: none;
    border-radius: 15px;
}

.modalInput:hover {
    background-color: rgb(227, 228, 243);
}

.formularz p {
    font-size: 14px;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(168, 168, 185);
    border-radius: 20px;
    padding: 50px;
    color: white;
}

.title {
    font-size: 24px;
}

.textarea {
    resize: none;
    border: none;
    border-radius: 15px;
    padding: 10px 25px;
    width: 500px;
    height: 70px;
    margin: 10px 0 50px 0;
    outline: none;
}

.submit {
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: rgb(148, 77, 214);
    color: white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 13px 70px;
    border-radius: 15px;
    border: none;
}

.submit:hover {
    background-color: rgb(63, 36, 201);
}

.submit:focus {
    background-color: rgb(120, 112, 164);
}


.build {
    font-size: 200px;
}

.titleBuild {
    font-size: 24px;
}






/* SecondModal */


.finish {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background:rgba(71, 64, 64, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: all;
    opacity: 1;

    transition: 0.5s ease-in-out;
}

.notfinish {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
}




@media(max-width: 768px) {

    .modalInput {
        margin: 10px 0 30px 0;
        width: 230px;
        margin-right: 0;
        font-size: 15px;
        padding: 13px 15px;

    }
    
    .textarea {
        padding: 10px 15px;
        width: 230px;
        height: 70px;
        margin: 10px 0 30px 0;
    }
}

@media(max-width: 360px) {
    .modalInput {
        width: 200px;

    }
    
    .textarea {
        width: 200px;
        height: 70px;

    }
}